body {
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    color:rgb(50,50,50);
}

main, .row, .inner {
    max-width:1064px;
    padding:0 20px;
    margin:auto;
    position:relative;
}

main:after, .row:after, .inner:after, form:after {
    display:table;
    clear:both;
    content:"";
}

.error {
	color:red;
	font-weight:bold;
}

.myError {
	display:block;
	clear:both;
}

#map-canvas { 
	height: 400px;
	margin: 1em 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
    font-weight:700;
}

h2 {
	font-size:1.25em;
	margin-top:0;
}

h3 {
	font-size:1.125em;
	margin:0;
}

* {
	box-sizing:border-box;
}

a {
	color:inherit;
}

img {
	max-width:100%;
	height:auto;
}

input {
    font-family:inherit;
    font-size:1em;
}

label {
	display:block;
	margin:0 1em 0 0;
	font-size:0.75em;
}

input {
	margin-right:1em;
}

input#streetNumID {
    width:50px;
    text-align:center;
}

input[type="text"] {
	padding:2px 5px;
}

input[type="submit"] {
    margin:auto;
}

select {

}

.center {
    text-align:center;
}

.right {
	float:right;
}

.left {
	float:left;
}

.big {
    font-size:2em;
    margin:1em 0;
}

main {
	padding:20px 20px 30px;
}

/* ================== Splash Screen =============== */
main#splashScreen form {
    position:relative;
    width:100%;
    max-width:768px;
    margin:160px auto 40px;
}

form input[type="submit"] {
    display:inline-block;
    padding:0.5em 1em;
    margin:0.5em 0em;
    color:white;
	border:none;
	background: rgb(110,155,188); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlOWJiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2Zjk0YmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(110,155,188,1) 0%, rgba(111,148,188,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,155,188,1)), color-stop(100%,rgba(111,148,188,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e9bbc', endColorstr='#6f94bc',GradientType=0 ); /* IE6-8 */
}

form input[type="submit"]:hover {
	background: rgb(111,148,188); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmOTRiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZTliYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(111,148,188,1) 0%, rgba(110,155,188,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,148,188,1)), color-stop(100%,rgba(110,155,188,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f94bc', endColorstr='#6e9bbc',GradientType=0 ); /* IE6-8 */
}

.searchableContainer {

}

.styledSelect select {
   background: transparent;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   height:44px;
   min-width:280px;
}

/* ================================ Dashboard ===================================== */
main#dashboard {
	position:relative;
}

main#dashboard:before {
	position:absolute;
	top:20px;
	right:340px;
	width:1px;
	height:98%;
	height:calc(100% - 50px);
	height:-webkit-calc(100% - 50px);
	background:#c1c1c1;
	content:"";
}

.navbar h1 {
	float:right;
}

.navbar {
	border-bottom:1px solid #c1c1c1;
	margin-bottom:0;
}

.navbar form {
	float:left;
}

.navbar h1 {
	margin:0.5em 0;
	font-size:1.5em;
}

.leftColumn {
	float:left;
	width:50%;
	width:calc(100% - 340px);
	width:-webkit-calc(100% - 340px);

}

.rightColumn {
	float:right;
	width:300px;
}

#transitNextTimes {
	width:250px;

}

#transitNextTimes p {
	line-height:1.25;
}

#transitNextTimes span {
	text-align:right;
	display:block;
}

#transitNextTimes span.big {
	float:right;
	font-size:1.25em;
	margin:0;
	line-height:1;
}

#transitNextTimes span.med {
	font-size:1em;
}

#transitNextTimes span.small {
	font-size:0.75em;
}

.transitCard select {
	margin:1em 0;
}

.parkCard {
	font-size:0.875em;
	border:1px solid #c1c1c1;
	box-shadow:0 0 5px 5px #c1c1c1;
	margin:1em 0;
	padding:1em;
	cursor:pointer;
}

.parkCard:hover {
	background:#f9f9f9;
}

.parkCard .address, #popUpBox .address  {
	font-size:0.875em;
	font-style:italic;
	margin:0;
	color:rgb(150,150,150);
}

.parkCard .hiddenDetails {
	display:none;
}

#wasteSection {
	border-bottom:1px solid #c1c1c1;
	margin-bottom:1em;
}

.wasteCard .wasteWeek {
	margin:0.5em 0;
	line-height:20px;
	vertical-align:top;
}

.wasteCard .circle {
	width:20px;
	height:20px;
	border-radius:50%;
	overflow:hidden;
	display:inline-block;
	background:black;
	margin:0 0.2em 0 1em;
}

.wasteCard .circle.recycling {
	background:#0000ff;
}

.wasteCard .circle.waste {
	background:black;
}

.wasteCard .circle.compost {
	background:#088a08;
}



/* =============================== Footer ================================= */
footer {
	background:#6e9bbc;
	padding:0.5em 0;
	font-weight:700;
	color:white;
	position:relative;
	box-shadow:0 0 10px #646464;
	z-index:2;
}

footer img {
	width:50px;
	border:1px solid #616f91;
	background:white;
	margin-left:20px;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
#colorbox, #cboxOverlay, #cboxWrapper{position:relative; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxContent{position:relative; background:none;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    Users Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#popUpBoxBackground {
	position:fixed;
  	width:100%;
  	height:100%;
  	left:0;
  	top:0;
  	z-index:999;
  	background:black;
  	opacity:0.3;
  	display:none;
  	cursor:pointer;
}

#popUpBox {
  	position:fixed;
  	width:100%;
  	height:100%;
  	max-height:600px;
  	max-width:320px;
  	left:0;
  	right:0;
  	top:0;
  	bottom:0;
  	margin:auto;
  	z-index:1000;
  	background:white;
  	display:none;
  	padding:30px 20px;
}

#closeBox { 
	position:absolute;
  	right:5px;
  	top:0px;
  	cursor:pointer;
  	height:30px;
  	width:auto;
  	font-size:16px;
  	line-height:30px;
  	text-align:center;
  	z-index:2;
  	font-weight:300;
}

#closeBox span {
	font-weight:bold;  
}

#cboxWrapper {
  background:#f6f6f6;
}

#popUpBox .popupContainer {
	position:relative;
	height:100%;
	width:100%;
	overflow:hidden;
	overflow-y:scroll;
}

#popUpBox  table {
	padding:0 20px 1em;
	border:1px solid #c1c1c1;
  	border-collapse:collapse;
	margin:1em auto;
}

#popUpBox table th {
	background:#6e9bbc;
	padding:2px;
	text-align:center;
	color:white;
	border:1px solid #6e9bbc;
}

#popUpBox  table tr:nth-of-type(2n) {
	background:#f1f1f1;
}

#popUpBox  table td {
	padding:2px 5px;
}

#popUpBox .label, #popUpBox .value {
	font-size:14px;  
  	color:inherit;
}

#popUpBox .label {
	font-weight:600;  
}




/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6

.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}
*/
.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomRight, #cboxBottomCenter {
	display:none;  
}

@media (min-height:769px) {
	main {
		padding-bottom:96px;
	}

	footer {
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
	}
}

@media (max-width: 767px) {
	.leftColumn, .rightColumn {
		width:auto;
		float:none;
	}
	
	#map-canvas {
		height:200px;
	}
	
	main#dashboard:before {
		display:none;
	}
	
	#transitSection {
		border-bottom: 1px solid #c1c1c1;
		margin-bottom: 1em;
		padding-bottom:1em;
	}
	
	.navbar h1 {
		float:none;
	}
	
	.navbar form {
		font-size:0.875em;
	}
}

@media (max-width: 499px) { /* === Mobile === */
	main#splashScreen form {
		margin-top:80px;
	}
	
	main#splashScreen h1 span {
		display:block;
	}
	
	.navbar h1 {
		font-size:1.3em
	}
}
