body {
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    color:rgb(50,50,50);
}

main, .row, .inner {
    max-width:1064px;
    padding:0 20px;
    margin:auto;
    position:relative;
}

main:after, .row:after, .inner:after, form:after {
    display:table;
    clear:both;
    content:"";
}

#map-canvas { 
	height: 400px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
    font-weight:700;
}

h2 {
	font-size:1.25em;
	margin-top:0;
}

h3 {
	font-size:1.125em;
	margin:0;
}

* {
	box-sizing:border-box;
}

a {
	color:inherit;
}

img {
	max-width:100%;
	height:auto;
}

input {
    font-family:inherit;
    font-size:1em;
}

label {
	display:block;
	margin:0 1em 0 0;
	font-size:0.75em;
}

input#addressNum {
    width:50px;
    text-align:center;
}

input[type="text"] {
	padding:2px 5px;
}

input[type="submit"] {
    margin:auto;
}

select {

}

.center {
    text-align:center;
}

.right {
	float:right;
}

.left {
	float:left;
}

.big {
    font-size:2em;
    margin:1em 0;
}

main {
	padding:20px 0 30px;
}

/* ================== Splash Screen =============== */
main#splashScreen form {
    position:relative;
    width:100%;
    max-width:768px;
    margin:160px auto 40px;
}

form input[type="submit"] {
    display:inline-block;
    padding:0.5em 1em;
    margin:0.5em 1em;
    color:white;
	border:none;
	background: rgb(110,155,188); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlOWJiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2Zjk0YmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(110,155,188,1) 0%, rgba(111,148,188,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,155,188,1)), color-stop(100%,rgba(111,148,188,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(110,155,188,1) 0%,rgba(111,148,188,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e9bbc', endColorstr='#6f94bc',GradientType=0 ); /* IE6-8 */
}

form input[type="submit"]:hover {
	background: rgb(111,148,188); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmOTRiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZTliYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(111,148,188,1) 0%, rgba(110,155,188,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,148,188,1)), color-stop(100%,rgba(110,155,188,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(111,148,188,1) 0%,rgba(110,155,188,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f94bc', endColorstr='#6e9bbc',GradientType=0 ); /* IE6-8 */
}

.searchableContainer {

}

.styledSelect select {
   background: transparent;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   height:44px;
   min-width:280px;
}

/* ================================ Dashboard ===================================== */
main#dashboard {
	position:relative;
}

main#dashboard:before {
	position:absolute;
	top:20px;
	right:420px;
	width:1px;
	height:98%;
	height:calc(100% - 50px);
	height:-webkit-calc(100% - 50px);
	background:#c1c1c1;
	content:"";
}

.navbar {
	border-bottom:1px solid #c1c1c1;
	margin-bottom:0;
}

.navbar form {
	float:left;
}

.navbar h1 {
	margin:0.5em 0;
	font-size:1.5em;
}

.leftColumn {
	float:left;
	width:50%;
	width:calc(100% - 440px);
	width:-webkit-calc(100% - 440px);

}

.rightColumn {
	float:right;
	width:400px;
}

#transitNextTimes {
	width:250px;

}

#transitNextTimes p {
	line-height:1.25;
}

#transitNextTimes span {
	text-align:right;
	display:block;
}

#transitNextTimes span.big {
	float:right;
	font-size:1.25em;
	margin:0;
	line-height:1;
}

#transitNextTimes span.med {
	font-size:1em;
}

#transitNextTimes span.small {
	font-size:0.75em;
}

.transitCard select {
	margin:1em 0;
}

.parkCard {
	font-size:0.875em;
	border:1px solid #c1c1c1;
	box-shadow:0 0 5px 5px #c1c1c1;
	margin:1em 0;
	padding:1em;
}

.parkCard .address {
	font-size:0.875em;
	font-style:italic;
	margin:0;
	color:rgb(150,150,150);
}

#wasteSection {
	border-bottom:1px solid #c1c1c1;
	margin-bottom:1em;
}

.wasteCard .wasteWeek {
	margin:0.5em 0;
	line-height:20px;
	vertical-align:top;
}

.wasteCard .circle {
	width:20px;
	height:20px;
	border-radius:50%;
	overflow:hidden;
	display:inline-block;
	background:black;
	margin:0 0.2em 0 1em;
}

.wasteCard .circle.recycling {
	background:#0000ff;
}

.wasteCard .circle.waste {
	background:black;
}

.wasteCard .circle.compost {
	background:#088a08;
}



/* =============================== Footer ================================= */
footer {
	background:#6e9bbc;
	padding:0.5em 0;
	font-weight:700;
	color:white;
	position:relative;
	box-shadow:0 0 10px #646464;
	z-index:2;
}

footer img {
	width:50px;
	border:1px solid #616f91;
	background:white;
	margin-left:20px;
}

@media (min-height:769px) {
	main {
		padding-bottom:96px;
	}

	footer {
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
	}
}

@media (max-width: 767px) {
}

@media (max-width: 499px) { /* === Mobile === */
	main#splashScreen form {
		margin-top:80px;
	}
	
	main#splashScreen h1 span {
		display:block;
	}
}
