{% extends 'layout.html' %}
{% block body %}
<main id="dashboard">
	<div class="navbar navbar-default navbar-static-top">
		<div class="container-wide">
			<div class="navbar-header">
				<div class="left addressNumContainer">
					<input type="text" name="addressNum" id="addressNum" placeholder="" />
				</div>
				<div class="right addressContainer">
				<div class="searchableContainer styledSelect">
					<select name="address" id="address" ng-controller="homeCtrl">
						<div ng-repeat="street in streets">
							<option value="[[street]]">[[street]]</option>
						</div>
					</select>
				</div>
			  </div>
			</form>
		</div>
    </div>
	<div class="left">
		<section id="transitSection">
		</section>
	</div>
	<div class="right">
		<section id="wasteSection">
		</section>

		<section id="parksSection">
			
		</section>
	</div>
  </div>
</main>
{% endblock %}

{% block script %}
<script type="text/javascript">
	var parkResult;
	var parks;
	var lookupInfo = document.cookie.studentHome;

	function homeCtrl($scope, $http) {
		$scope.streets = ["College W.", "Southcreek Trail", "Stone Rd."];
		/*$.ajax({
			url: "/api/streets/",
			success: function(response) {
				console.log("cool");
				$scope.streets = response;
			}
		});*/
	}
	

	$(function() {
		$.ajax({
			url: "/api/garbage/" + lookupInfo.streetNum + "/" + lookupInfo.streetName,
			success: function(response) {
				console.log(response);
				parkResult = response;
			}
		});
	});
</script>

<!-- <script src="/socket.io/socket.io.js"></script>-->
<script>
	//var socket = io();
</script>
{% endblock %}