{% extends 'layout.html' %}
{% block body %}

	<div class="navbar">
		<div class="inner">
			<form  class="enterAddressForm" method="post">
			  <div class="left addressNumContainer">
			    <label for="addressNum">Street Number</label>
			    <input type="text" name="addressNum" id="addressNum" placeholder="" />
			  </div>
			  <div class="left addressContainer">
			    <label for="street">Street Name </label>
			    <div class="searchableContainer styledSelect">
			      <input id="street" />
			    </div>
			  </div>
			  <input type="submit" value="Search" />
			    <!-- <p class="center big">OR</p>
			  <div class="center"><input type="submit" value="My Current Location" /></div> -->
			</form>
			<h1 class="right">My Student Home Dashboard</h1>
		</div>
    </div>
    <main id="dashboard">
	<div class="leftColumn">
		<section id="transitSection">
			<h2>Transit</h2>
		</section>
	</div>
	<div class="rightColumn">
		<section id="wasteSection">
			<h2>Waste Information</h2>
		</section>

		<section id="parksSection">
			<h2>Nearby Parks</h2>
			
		</section>
	</div>
  </div>
</main>
{% endblock %}

{% block script %}
<script type="text/javascript">
	var parkResult;
	var parks;
	var streetName = getCookie("streetName");
	var streetNum = getCookie("streetNum");
	var busDT;
	var busUC;
	console.log(streetName + " " + streetNum);
	if(streetNum == "" || streetName == "") {
		echo(ERROR);
		exit(0);
	}

	$(function() {
		$("#street").val(streetName);
		$("#addressNum").val(streetNum);
		getParkData();
		getTransitData();
		getWasteData();
	});
</script>

<!-- <script src="/socket.io/socket.io.js"></script>-->
<script>
	//var socket = io();
</script>
{% endblock %}