{% extends 'layout.html' %}
{% block body %}
<main id="splashScreen">
  <form  class="enterAddressForm" method="post">
  <h1>Enter <span>your Address:</span></h1>
  <div class="left addressNumContainer">
	<label for="streetNumID">Street Number</label>
	<input type="text" id="streetNumID" placeholder="" required />
  </div>
  <div class="left addressContainer">
	<label for="streetNameID">Street Name </label>
	<div class="searchableContainer styledSelect">
	  <input id="streetNameID" required />
	</div>
  </div>
  <input type="submit" value="Search" />
    <!-- <p class="center big">OR</p>
  <div class="center"><input type="submit" value="My Current Location" /></div> -->
  </form>
</main> 
{% endblock %}